
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal.active {
  display: block;
}

.modal__dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 20%);
  transition: opacity .3s;
  will-change: opacity;
  opacity: 0;
}

.modal.active .modal__dimmed {
  opacity: 1;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  width: 700px;
  max-width: 700px;
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--default-shadow);
  transform: translate(-50%, -50%);
  will-change: opacity;
  transition: opacity 1s;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px;
  border: 5px solid var(--main-font-color);
}

.modal.active .modal__container {
  height: auto;
}

.modal__button--right,
.modal__button--left {
  flex: 0 0 30px;
}

.modal__panel {
  display: none;
  width: 100%;
  height: 100%;
}

.modal__panel.active {
  display: block;
}

.title {
  position: relative;
  margin-bottom: 30px;
  padding-top: 50px;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  color: var(--main-font-color);
}

.title > strong {
  font-weight: 600;
}

.fa-square-full {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  display: block;
  font-size: 1rem;
  color: var(--main-font-color);
  margin-bottom: 30px;
  animation: rotate 6s infinite;
  transform-origin: center center;
  margin: 0;
}

@keyframes rotate {
  0% {
    transform: translateX(-50%) rotate(45deg);
  }
  100% {
    transform: translateX(-50%) rotate(405deg);
  }
}

.description {
  padding: 0 3rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: center;
  color: var(--sub-font-color);
}

.greeting {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
}

.greeting__row {
  display: block;
  padding: .3rem 0;
  margin-bottom: 5px;
}

.contact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px;
}

.contact__github,
.contact__velog {
  font-size: 2rem;
  margin: 0 15px;
}

.copyrights > p {
  margin-bottom: 5px;
  text-align: center;
}

.copyrights > p a {
  font-weight: 600;
  color: var(--main-font-color);
}