@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --main-color1: #cbf3f0;
  --main-color2: #2ec4b6;
  --main-color3: #ffbf69;
  --main-color4: #fffaeb;
  --main-color5: #ff9f1c;
  --main-color6: #d4acfb;

  --sub-font-color: #505555;
  --upgent-color: #ff3636;

  --unique-font: 'Lobster', cursive;
  --default-gradient: linear-gradient(-40deg, #d4acfb 0%, #b84fce 100%);
  --focus-gradient: linear-gradient(147deg, #FF7F50 0%, #E44D2E 74%);
  --relax-gradient: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  --default-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

body {
  --main-font-color: #212c2c;
  --button-color: #fff;
  --main-background: #fff;
  --preset-button-bg: #e6e2d2;
  --preset-button-color: #747164;
  --preset-button-hov-bg: #3aad99;
  --preset-button-hov-color: #fff;
  --start-button-bg: #212c2c;
  --start-button-color: #fff;

  position: relative;
  min-width: 400px;
  min-height: 100vh;
  background-color: var(--main-background);
  color: var(--main-font-color);
  transition: all .3s ease-in-out;
}

body.focus,
body.relax {
  --main-font-color: #fff;
  --button-color: #111;
  --preset-button-bg: transparent;
  --preset-button-color: #fff;
  --preset-button-hov-bg: rgba(0,0,0,.1);
  --preset-button-hov-color: #fff;
  --start-button-bg: rgb(255, 237, 39);
  --start-button-color: #212c2c;
}

body.focus {
  background-image: var(--focus-gradient);
}

body.relax {
  background-image: var(--relax-gradient);
}

.app {
  min-height: 100vh;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}

.today {
  padding: 0 1.5rem 20px;
  text-align: center;
}

.timer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.preset {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  margin-bottom: 30px;
  font-size: 1rem;
}

.preset__item {
  flex: 0 0 auto;
  height: 36px;
  margin: 0 10px;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: var(--preset-button-bg);
  font-size: 1rem;
  color: var(--preset-button-color);
  border: 1px solid #fff;
  
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.preset__item.active {
  background-color: var(--preset-button-hov-bg);
  color: var(--preset-button-hov-color);
  font-weight: 600;
}

.timer__inputs {
  flex: 0 0 50%;
  position: relative;
  max-width: 500px;
  padding: 30px 44px;
  border-radius: 10px;
  transform-origin: center center;
  background: transparent;
  will-change: background-color;
  transition: background-color 1s;

  display: flex;
  flex-flow: row nowrap;
}

.timer__inputs::before {
  content: ':';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  animation: blink 1s;
}

body.focus .timer__inputs::before,
body.relax .timer__inputs::before {
  color: white;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.timer__input--min,
.timer__input--sec,
.timer__input--shadow {
  height: 140px;
  width: 210px;
  padding-top: 30px;
  padding-right: 15px;
  background-color: transparent;
  font-family: 'Digital Clock';
  font-size: 13rem;
  font-weight: 400;
  letter-spacing: -.8rem;
  border: none;
  caret-color: var(--main-font-color);
  color: var(--main-font-color);
  overflow: hidden;
}

.countdown .timer__input--min,
.countdown .timer__input--sec {
  color: var(--upgent-color);
}

.countdown .timer__input--min {
  text-align: right;
}

.countdown .timer__input--sec {
  text-align: left;
}

.timer__input--shadow {
  position: absolute;
  z-index: -1;
  color: var(--main-font-color);
  opacity: 0.2;
  transition: color 1s, opacity 1s;
}

.timer__input--shadow:nth-child(1) {
  left: 44px;
}
.timer__input--shadow:nth-child(2) {
  right: 44px;
}

.timer__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 1rem 0;
}

.timer__button--activate {
  margin-left: 40px;
  padding: 0.6rem 2.5rem;
  background-color: var(--start-button-bg);
  border-radius: 4px;
  color: var(--start-button-color);
  font-family: var(--unique-font);
  font-size: 1.5rem;
}

.timer__button--activate:disabled {
  opacity: .5;
}

.timer__button--refresh {
  width: 38px;
  height: 38px;
  cursor: pointer;
  opacity: .9;
  border-radius: 50%;
  border: 2px solid var(--main-font-color);
  color: var(--main-font-color);
  margin-left: 10px;
  font-size: 1.1rem;
}

.timer__button--refresh:hover {
  animation: wriggle 1s ease-in-out infinite;
  opacity: 1;
}

.timer__button--refresh:active {
  background-position: -48px 0;
}

footer {

}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: -2;
  opacity: .8;
  will-change: opacity;
  transition: opacity 1s ease-in;
}

body.focus .shapes,
body.relax .shapes {
  opacity: .1;
}

.shapes > div {
  position: absolute;
  mix-blend-mode: multiply;
  opacity: .8;
}

.shapes > .circle1 {
  bottom: 87px;
  left: 206px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--main-color1);
}

.shapes > .circle2 {
  bottom: 0;
  right: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--main-color2);
  
}

.shapes > .rectangle1 {
  bottom: 0;
  left: 435px;
  width: 616px;
  height: 80px;
  background-color: var(--main-color4);
}

.shapes > .rectangle2 {
  bottom: 176px;
  right: 212px;
  width: 200px;
  height: 200px;
  background-color: var(--main-color3);
  transform: rotate(45deg);
}

.shapes > .triangle1 {
  bottom: -130px;
  left: -28px;
  width: 0;
  height: 0;
  border: 180px solid transparent;
  border-right: 180px solid var(--main-color2);
  border-left: 180px solid var(--main-color2);
}

.shapes > .triangle2 {
  top: -176px;
  left: 50%;
  width: 0px;
  height: 0;
  border: 600px solid transparent;
  border-bottom: 600px solid var(--main-color4);
  border-right: 0;
  border-top: 0;
  transform: rotate(45deg) translateX(-40%);
}
